html {
  background-color: #181a1c;
}

/************************/
/* WP Blog article copy */
/************************/

div.entry-content * {
  color: white;
}

div.entry-content h1,
div.entry-content h2,
div.entry-content h3,
div.entry-content h4,
div.entry-content h5 {
  color: #ffce1a;
  margin: 40px 0px;
}

div.entry-content a {
  color: #ffce1a;
  text-decoration: underline;
}

/************************/
/*  Fixing product FAQ  */
/************************/

#product-faq .js-list-item {
  border-top: 2px solid #ffce1a !important;
}

/****************************************/
/*  Customize Weglot language selector  */
/****************************************/

.wg-drop.country-selector .wgcurrent:after {
  display: none !important;
}

.wg-drop.country-selector .wgcurrent a {
  padding-right: 0px !important;
}

.wg-drop.country-selector {
  border-radius: 100px;
  background-color: transparent !important;
  padding: 0px !important;
}

.wg-drop.country-selector .wgcurrent {
  border-radius: 100px !important;
  border: 2px solid #ffce1a !important;
  padding: 5px !important;
}

.wg-drop.country-selector ul {
  background-color: transparent !important;
  border: none !important;
}

li.wg-li img.wg-flag {
  margin-right: 0px !important;
}

li.wg-li a {
  padding: 0px !important;
  margin: 0px auto;
}

/********************/
/*  Custom helpers  */
/********************/

.text-accent {
  color: #ffc107;
}

.text-accent:visited {
  color: #ffc107;
}

/********************/
/*    Order form    */
/********************/

.order-form-title {
  color: #ffce1a;
}

.order-form-container {
  max-width: 600px;
}

#lead_email {
  background-color: #252525;
  border: 2px solid #ffce1a;
  border-radius: 6px;
  padding: 10px;
  color: white !important;
  width: 100%;
  margin-bottom: 20px;
}

#lead_email::placeholder, #pay_split::placeholder {
  color: lightgrey;
}

#lead_submit, #pay_split {
  padding: 10px 20px;
  background-color: #ffce1a;
  border: solid 2px #ffce1a;
  border-radius: 6px;
  width: 100%;
  font-weight: 600;
  color: black;
}



/************************/
/* Performances section */
/************************/

#performances {
  color: white;
  text-align: center;
}

.performance-label {
  color: #ffce1a;
  font-weight: normal;
  font-size: x-large;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #ffce1a;
  margin-bottom: 30px;
}

.initial-value {
  font-size: x-large !important;
  color: white !important;
}

.tuned-value {
  display: block;
  margin-left: 10px;
  font-size: xx-large;
  color: #ffce1a;
  font-weight: bold;
}

@media (min-width: 576px) {
  .tuned-value {
    display: inline;
  }
}

.text-accent {
  color: #ffce1a;
  font-weight: bold;
}

.subtitle {
  font-size: x-large;
}

/**************************/
/**** MOBILE MENU ********/
/************************/

@media only screen and (max-width: 992px) {
  div.buttons-section > a:nth-child(2) {
    width: 68px;
  }

  .wg-flags a img.wg-flag {
    height: 35px;
    margin-right: 0;
    width: 35px;
    margin-top: 12px;
  }

  #header .buttons-section a {
    margin-right: 0px !important;
  }
}

/**************************/
/**** PRE-CHECKOUT FORM ***/
/************************/

.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: lightgray;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
  color: black;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.completed .step-counter {
  background-color: #ffce1a;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ffce1a;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}

#lead_submit.disabled, #pay_split.disabled {
  background-color: #d5ac18;
}

.loading-before-checkout {
  color: white;
}

.loading-before-checkout p {
  font-size: large;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(60px);
  }
  100% {
    transform: translatey(0px);
  }
}

.floating {
  transform: translatey(0px);
  animation: float 1.5s ease-in-out infinite;
  color: white !important;
}
