html {
    background-color: #181a1c;
}

/************************/
/* WP Blog article copy */
/************************/

div.entry-content * {
    color: white;
}

div.entry-content h1,
div.entry-content h2,
div.entry-content h3,
div.entry-content h4,
div.entry-content h5 {
    color: #ffce1a;
    margin: 40px 0px;
}

div.entry-content a {
    color: #ffce1a;
    text-decoration: underline;
}

/************************/
/*  Fixing product FAQ  */
/************************/

#product-faq .js-list-item {
    border-top: 2px solid #FFCE1A !important;
}

/****************************************/
/*  Customize Weglot language selector  */
/****************************************/

.wg-drop.country-selector .wgcurrent:after {
    display:none !important;
}

.wg-drop.country-selector .wgcurrent a {
    padding-right: 0px !important;
}

.wg-drop.country-selector {
    border-radius: 100px;
    background-color: transparent !important;
    padding: 0px !important;
}

.wg-drop.country-selector .wgcurrent {
    border-radius: 100px !important;
    border: 2px solid #FFCE1A !important;
    padding: 5px !important;
}

.wg-drop.country-selector ul {
    background-color: transparent !important;
    border: none !important;
}

li.wg-li img.wg-flag {
    margin-right: 0px !important;
}

li.wg-li a {
    padding: 0px !important;
    margin: 0px auto;
}

/********************/
/*  Custom helpers  */
/********************/

.text-accent {
    color: #ffc107;
}

.text-accent:visited {
    color: #ffc107;
} 

/********************/
/*    Order form    */
/********************/

.order-form-title {
    color: #ffce1a
}

.order-form-container {
    max-width: 600px;
}

#lead_email {
    background-color: #252525;
    border: 2px solid #ffce1a;
    border-radius: 6px;
    padding: 10px;
    color: white !important;
    width:100%;
    margin-bottom: 20px;
}

#lead_email::placeholder {
    color: lightgrey;
}

#lead_submit {
    padding: 10px 20px;
    background-color:  #ffce1a;
    border: solid 2px #ffce1a;
    border-radius: 6px;
    width: 100%;
    font-weight: 600;
    color: black;
}

/************************/
/* Performances section */
/************************/

#performances {
    color: white;
    text-align: center;
}

.performance-label {
    color: #FFCE1A;
    font-weight: normal;
    font-size: x-large;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #FFCE1A;
    margin-bottom: 30px;
}

.initial-value {
    font-size: x-large !important;
    color: white !important;
}

.tuned-value {
    display:block;
    margin-left: 10px;
    font-size: xx-large;
    color: #FFCE1A;
    font-weight: bold;
}

@media (min-width: 576px) { 
    .tuned-value {
        display:inline;
    }
}

.text-accent {
    color: #FFCE1A;
    font-weight: bold;
}

.subtitle {
    font-size: x-large;
}